*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}
a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: lightpink;
    display: flex;
gap: 16px;
padding: 8px;
border-radius: 8px;
}